{
    "assistant": {
        "credentials": {
            "apikey": "[ADD_HERE_APIKEY]",
            "url": "https://gateway.watsonplatform.net/assistant/api"
        },
        "assistant_id": "[ADD_HERE_ASSISTANT_ID]"
    },
    "discovery": {
        "credentials": {
            "apikey": "[ADD_HERE_APIKEY]",
            "url": "https://gateway.watsonplatform.net/discovery/api"
        }
    },
    "cloudant": {
        "credentials": {
            "apikey": "[ADD_HERE_APIKEY]",
            "url": "[ADD_HERE_CLOUDANT_URL]"
        }
    },
    "cloudant_database": {
        "name": "[ADD_HERE_CLOUDANT_DATABASE_NAME]"
    }
}